
/*index*/

#cim {
    border-radius: 40px;
    border: 5px rgb(0, 0, 0) solid;
    padding: 0.5rem 2rem;
    display: inline-block;
}

.elvalasztonagy{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.elvalaszto{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.elvalasztokicsi{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.doboz {
    border-radius: 10px;
    border: 5px solid black;
    padding: 1rem ;
}


.kereknagy{
    border-radius: 50px;
}

.kerek{
    border-radius: 30px;
}

.kerekkicsi{
    border-radius: 15px;
}
